#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer { // Layer 0
            display-name = "Default";
            bindings = <
                &mt A B    &kp C    &sl 1
            >;
        };
        L1 {
            display-name = "Layer1";
            bindings = <
                &kp X    &kp Y    &kp Z
            >;
        };
    };
 };
